.containerMainInfo {
  display: flex;
  justify-content: center;
  margin-top: 46px;
  margin-bottom: 38px;
}
.containerInfo {
  width: 90%;
  height: 441px;
  background: linear-gradient(180deg, #00a5e1 0%, #002332 80.73%);
  border-radius: 16px;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
}
.info {
  padding: 50px 0px 0px 34px;
}
.tittleInfo {
  width: 330px;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  color: #fff;
  margin-bottom: 25px;
}
.infoStore {
  width: 560px;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  color: #fff;
  margin-bottom: 20px;
}
.buttonVamos {
  width: 312px;
  height: 47px;
  background: #47c3de;
  border-radius: 16px;
  border: none;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 29px;
  color: #fff;
  cursor: pointer;
}
.buttonVamos:hover {
  color: #1f1f1f;
  animation-name: colorsVamos;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

@keyframes colorsVamos {
  0% {
    background: linear-gradient(90deg , #fff 0%, #00d0ff 0%);
  }
  10% {
    background: linear-gradient(90deg , #fff 0%, #00d0ff 20%);
  }
  20% {
    background: linear-gradient(90deg , #fff 20%, #00d0ff 40%);
  }
  30% {
    background: linear-gradient(90deg , #fff 40%, #00d0ff 60%);
  }
  40% {
    background: linear-gradient(90deg , #fff 60%, #00d0ff 80%);
  }
  50% {
    background: linear-gradient(90deg , #fff 80%, #00d0ff 100%);
  }
  60% {
    background: linear-gradient(90deg , #fff 100%, #00d0ff 100%);
  }
  70% {
    background: linear-gradient(90deg , #fff 60%, #00d0ff 80%);
  }
  80% {
    background: linear-gradient(90deg , #fff 40%, #00d0ff 60%);
  }
  90% {
    background: linear-gradient(90deg , #fff 20%, #00d0ff 40%);
  }
  100% {
    background: linear-gradient(90deg , #fff 0%, #00d0ff 20%);
  }
}
.imageLogoInfo {
  margin-right: -2px;
  height: 100%;
}
